* {
  box-sizing: border-box;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
 
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  width: 40%;
  background-color: lightblue; 
  padding: 1rem;
}

.container .grid-images {
  background-color: rgb(99, 196, 229);
  border-radius: 10px;
  cursor: pointer;
}

.card__img {
  pointer-events: none;
  width: 100%;
}